
<!--<div style="position: absolute; bottom: 0; right: 0; left: 0; height: 60px; background: #1e1e1e"></div>-->

<div class="onboarding-container">
  <!--<div class="back-button">-->
    <!--<img src="../../../assets/images/vector/back-icon.svg">-->
  <!--</div>-->
  <div class="onboarding-container-internal">
    <div class="onboarding-container-internal-header">Start With a Workspace</div>
    <div class="onboarding-container-internal-body">In VINpoint, everything happens in a workspace. A VINpoint workspace is simply a group of people using VINpoint together - from a single dealership to an entire organization! Is your group already on VINpoint, or do you need to start a new workspace?</div>
    <div class="onboarding-container-internal-selection">
      <div routerLink="existing"  style="display: flex; flex-direction: row; margin: 0 0 20px 0;">
          <div style="display: flex; width: 40px; height: 40px; background: #00acc5; border-radius: 5px; justify-content: center; align-items: center; margin: 0 10px 0 0;"><img height="20px" src="../../../assets/images/vector/add-icon-white.svg"></div>
        <div>
          <div>Find your VINpoint workspace</div>
          <div style="font-weight: 100">Join or sign in to an existing workspace</div>
        </div>
      </div>
      <div>

      <div routerLink="new" style="display: flex; flex-direction: row; ">
        <div style="display: flex; width: 40px; height: 40px; background: #ffa400; border-radius: 5px; justify-content: center; align-items: center; margin: 0 10px 0 0;"><img height="23px" src="../../../assets/images/vector/vinpoint-icon-white.svg"></div>
        <div>
          <div>Create a new workspace</div>
          <div style="font-weight: 100">Get your dealership or organization on VINpoint</div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

