<div class="header">
  <div class="header-internal">
    <img class="header-internal-logo" src="../assets/images/vector/vinpoint-logo-side.svg">
    <div class="header-internal-right">
      <a href="#Scan">Scan</a>
      <a href="#Print">Print</a>
      <a href="#Locate">Locate</a>
      <a href="#Pricing">Pricing</a>
      <a class="button" href="http://cphandheld.io">Login</a>
    </div>
  </div>
</div>

<div [mnFullpage]="options" class="content" id="content-wrapper">

<div class="fp-section fp-auto-height"
  style="padding-top: 200px; background: url(../assets/images/vector/Gradient-BG1.svg); background-repeat: no-repeat; background-position: center; background-size: cover; display: flex; justify-content: center;">
  <!--<div style="position: absolute; height: 200px; width: 200px;">-->
  <!--<img src="../assets/images/vector/tess.svg">-->
  <!--</div>-->
  <div class="rellax row middle-xs center-xs" data-rellax-speed="-2" style="width: 100%; max-width: 1220px;">
    <div class="col-sm-6 col-xs-12">
      <div style="color: white; font-size: 30px; font-weight: 200; margin: 20px 20px 10px 20px; text-align: left;">
        Manage your inventory like never before with iOS scanning, GPS snapshots, and instant label printing.
      </div>
      <div class="cta-buttons center-small"
           style="margin: 20px 0 25px 20px; display: flex; justify-content: flex-start; align-items: center;">
        <button routerLink="onboarding" style="background-color: #ffa400; border: 1px solid #ffa400;">Get Started</button>
        <button style="margin: 0 0 0 10px">Learn More</button>
      </div>
      <!--<div style="color: white; font-size: 16px; margin: 0 20px 10px 20px; text-align: center;">VINpoint is available on the App Store!</div>-->
      <!--<div style="display: flex; align-items: center; justify-content: center;">-->
      <!--<a href="https://itunes.apple.com/us/app/vinpoint-mobile/id1243005662?mt=8">-->
      <!--<img height="55px" src="../assets/images/vector/app-store-badge.svg">-->
      <!--</a>-->
      <!--</div>-->
    </div>
    <div class="col-sm-6 col-xs-12" style="display: flex; justify-content: center; align-items: center;">
      <!--<img style="height: 385px; padding: 20px 20px 0 20px;" src="../assets/images/raster/black-mockup-cropped.png">-->
      <img style="height: 385px; padding: 20px 20px 0 20px;" src="../assets/images/raster/macbook-flat.png">
    </div>
  </div>
</div>

<div class="section-large fp-section fp-auto-height">
  <div class="section-large-internal">
    <div class="row" style="margin-bottom: 3rem;">
      <div class="col-sm-6 col-xs-12">
        <div class="header-bottom-bar" style="font-size: 30px; font-weight: 800; color: #1e1e1e; margin: 20px;">
          VINpoint is an inventory management <br/> platform, in the cloud.
        </div>
        <div style="font-size: 20px; font-weight: 600; color: #909090; margin: 20px;">We built our platform to be simple
          to use, powerful in deployment, and endlessly scalable.
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div style="margin-bottom: 40px;" class="row">
          <div class="col-xs-3" style="display: flex; justify-content: center; align-items: center;">
            <img class="callout-image" src="../assets/images/vector/manage-icon.svg">
          </div>
          <div class="col-xs-7">
            <div class="callout-header">Communicate</div>
            <div>Get vehicles ready for market faster. Identify bottlenecks that
              cost time and money. Communicating vehicle movement is as
              simple as sending a text.
            </div>
          </div>
        </div>
        <div style="margin-bottom: 40px;" class="row">
          <div class="col-xs-3" style="display: flex; justify-content: center; align-items: center;">
            <img class="callout-image" src="../assets/images/vector/integration-icon.svg">
          </div>
          <div class="col-xs-7">
            <div class="callout-header">Integrate</div>
            <div>Vehicles are be checked in directly into your DMS. VINpoint
              eliminates duplicate work by keeping both systems in perfect sync.
            </div>
          </div>
        </div>
        <div style="margin-bottom: 40px;" class="row">
          <div class="col-xs-3" style="display: flex; justify-content: center; align-items: center;">
            <img class="callout-image" src="../assets/images/vector/manage-icon.svg">
          </div>
          <div class="col-xs-7">
            <div class="callout-header">Manage</div>
            <div>Share access to information about vehicles by seemlessly sharing information between porters. It’s as
              simple as sharing a link to a contact
              from your iPhone.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-large">
  <div class="section-large-internal">
    <div class="row">
    <div class="col-xs-12">
    <div style="font-size: 60px; font-weight: 800; color: black;">HOW IT WORKS</div>
    </div>
    </div>
  </div>
</div>


<div class="section-medium fp-section fp-auto-height">
  <!--<div style="position: absolute; bottom: -40px; right: -20px; left: -20px; background-color: #3481c1; height: 100px; transform: skewY(-4deg); z-index: 1;"></div>-->
  <div class="section-medium-internal">
    <div class="row">
      <div class="col-sm-12">
        <div style="font-size: 40px; font-weight: 800; color: #1e1e1e; margin: 0 0 5px 0;">
          SCAN
        </div>
        <div style="font-size: 20px; font-weight: 600; color: #909090; margin: 0 0 20px 0;">
          Super fast, all iPhone
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12 first-lg first-sm">
        <div style="padding: 20px 0 20px 0; color: #1e1e1e;">
          This is some text to test line wrapping as well as my ability to code this grid correctly. Please ignore any
          grammatical mistakes, as this is just a placeholder for now. This is some text to test line wrapping as well
          as my ability to code this grid correctly. Please ignore any grammatical mistakes, as this is just a
          placeholder for now.

        </div>
        <div style="display: flex; justify-content: flex-start;">
          <button style="background-color: #ffa400;">Learn More</button>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 first-xs center-small" style="display: flex; justify-content: flex-end;">
        <img style="height: 220px;" src="../assets/images/vector/Scan-shadow.svg">
      </div>
    </div>
  </div>
</div>

<div class="section-medium fp-section fp-auto-height">
  <div class="section-medium-internal">
    <div class="row">
      <div class="col-sm-12">
        <div class="left-align-small" style="font-size: 40px; font-weight: 800; color: #1e1e1e; margin: 0 0 5px 0; text-align: right;">
          PRINT
        </div>
        <div style="font-size: 20px; font-weight: 600; color: #909090; margin: 0 0 20px 0; text-align: right;">
          Auto-Print labeling & overnight shipping
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12 center-small" style="display: flex; justify-content: flex-start;">
        <img style="height: 257px;" src="../assets/images/vector/Print-shadow.svg">
      </div>
      <div class="col-sm-6 col-xs-12">
        <div style="padding: 20px 0 20px 0; color: #1e1e1e;">
          This is some text to test line wrapping as well as my ability to code this grid correctly. Please ignore any
          grammatical mistakes, as this is just a placeholder for now. This is some text to test line wrapping as well
          as my ability to code this grid correctly. Please ignore any grammatical mistakes, as this is just a
          placeholder for now.
        </div>
        <div class="pull-left-small" style="display: flex; justify-content: flex-end;">
          <button style="background-color: #ffa400;">Learn More</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-medium fp-section fp-auto-height">
  <div class="section-medium-internal">
    <div class="row">
      <div class="col-sm-12">
        <div style="font-size: 40px; font-weight: 800; color: #1e1e1e; margin: 0 0 5px 0;">
          LOCATE
        </div>
        <div style="font-size: 20px; font-weight: 600; color: #909090; margin: 0 0 20px 0">
          GPS with the power of Mapbox
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12 first-lg first-sm">
        <div style="margin: 20px 0 20px 0; color: #1e1e1e;">
          This is some text to test line wrapping as well as my ability to code this grid correctly. Please ignore any
          grammatical mistakes, as this is just a placeholder for now. This is some text to test line wrapping as well
          as my ability to code this grid correctly. Please ignore any grammatical mistakes, as this is just a
          placeholder for now.

        </div>
        <div style="display: flex; justify-content: flex-start;">
          <button style="background-color: #ffa400;">Learn More</button>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 first-xs center-small" style="display: flex; justify-content: flex-end;">
        <img style="height: 220px;" src="../assets/images/vector/Locate-shadow.svg">
      </div>
    </div>
  </div>
</div>

<div class="section-large fp-section fp-auto-height"
     style="background: url(../assets/images/vector/Gradient-BG1.svg); background-repeat: no-repeat; background-position: center; background-size: cover;">
  <div class="section-large-internal">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div style="font-size: 40px; font-weight: 800; color: white; padding: 20px 20px 20px 20px;">
          PRICING
        </div>
      </div>
    </div>
    <div class="row middle-xs center-xs around-xs">
      <div class="col-sm-4 col-md-3 col-xs-12">
        <div class="pricing-card">
          <div class="pricing-card-header">
            $9<span style="color: #383838; margin-left: 5px; font-size: 14px; display: flex; align-items: center;"> / User</span>
          </div>
          <div class="pricing-card-body">
            <ul>
              <li>$1 / Scan</li>
              <li>CDK Integration</li>
              <li>Vehicle Location Data</li>
              <li>Advanced Vehicle Tagging</li>
              <li>Rich Communication Features</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-3 col-xs-12">
        <div class="pricing-card">
          <div class="pricing-card-header">
            $99<span style="color: #383838; margin-left: 5px; font-size: 14px; display: flex; align-items: center;"> / User</span>
          </div>
          <div class="pricing-card-body">
            <ul>
              <li>$2 / Scan</li>
              <li>CDK Integration</li>
              <li>Vehicle Location Data</li>
              <li>Advanced Vehicle Tagging</li>
              <li>Rich Communication Features</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 col-xs-12">
        <div class="pricing-card">
          <div class="pricing-card-header">
            $999<span style="color: #383838; margin-left: 5px; font-size: 14px; display: flex; align-items: center;"> / User</span>
          </div>
          <div class="pricing-card-body">
            <ul>
              <li>$3 / Scan</li>
              <li>CDK Integration</li>
              <li>Vehicle Location Data</li>
              <li>Advanced Vehicle Tagging</li>
              <li>Rich Communication Features</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div style="background-color: #383838; padding: 40px;" class="fp-section fp-auto-height">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div style="font-size: 40px; font-weight: 800; color: white; padding: 20px 20px 20px 20px;">
        START NOW
      </div>
    </div>
  </div>
  <!--<div class="row middle-xs center-xs">-->
  <!--<div class="col-sm-4 col-md-3 col-xs-12">-->
  <!--<div class="pricing-card">-->
  <!--<div class="pricing-card-header">-->
  <!--$9<span style="color: #383838; margin-left: 5px; font-size: 14px; display: flex; align-items: center;"> / User</span>-->
  <!--</div>-->
  <!--<div class="pricing-card-body">-->
  <!--<ul>-->
  <!--<li>$75 / Scan</li>-->
  <!--<li>CDK Integration</li>-->
  <!--<li>Vehicle Location Data</li>-->
  <!--<li>Advanced Vehicle Tagging</li>-->
  <!--<li>Rich Communication Features</li>-->
  <!--</ul>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="col-sm-4 col-md-3 col-xs-12">-->
  <!--<div class="pricing-card">-->
  <!--<div class="pricing-card-header">-->
  <!--$99<span style="color: #383838; margin-left: 5px; font-size: 14px; display: flex; align-items: center;"> / User</span>-->
  <!--</div>-->
  <!--<div class="pricing-card-body">-->
  <!--Enter your information below to get started.-->
  <!--<input type="number">-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
</div>


<div style="background-color: #383838; padding: 40px;" class="fp-section fp-auto-height">
  <div class="row middle-xs">
    <div class="col-sm-10 col-xs-12">
      <ul class="links-bottom">
        <li>Scan</li>
        <li>Print</li>
        <li>Locate</li>
        <li>Login</li>
      </ul>
    </div>
    <div class="col-sm-2 col-xs-4">
      <img style="height: 70px; margin: 0 0 10px 0;" src="../assets/images/vector/cdk-logo.svg">
    </div>
  </div>
  <div class="row middle-xs">
    <div class="col-sm-8 col-xs-12">
      <div style="color: #969696; margin-bottom: 5px;">Copyright © 2018 VINpoint</div>
      <div style="color: #969696;">Terms of Use | Privacy Policy</div>
    </div>
  </div>
</div>
</div>
