
<div class="onboarding-container">
  <div class="onboarding-container-internal">
    <div class="onboarding-container-internal-header">Find your VINpoint workspace</div>
    <div class="onboarding-container-internal-body">We'll send you an email to confirm your address and find an existing workspace you can join.</div>
    <div class="onboarding-container-internal-selection" style="display: flex;">
      <input style="flex-shrink: 0; flex-grow: 1; border: 1px solid grey; border-radius: 5px; height: 40px; font-size: 20px; padding: 0 0 0 7px;" type="email">
      <button routerLink="../magiclink" style="border: 0; background: #1671bd; font-size: 20px; margin-left: 10px; border-radius: 30px; padding: 0 20px 0 20px; color: white;">Confirm</button>
    </div>
  </div>
</div>
