<div class="header">
  <div class="header-internal">
    <img class="header-internal-logo" src="../assets/images/vector/vinpoint-logo-side.svg">
    <div class="header-internal-right">
      <a>Scan</a>
      <a>Print</a>
      <a>Locate</a>
      <a>Pricing</a>
      <button>Login</button>
    </div>
  </div>
</div>

<div class="container-large-top">
  <div class="container-large-top-background">
    <div class="foreground">
      <img src="../assets/images/raster/black-mockup.png">
    </div>
    <div class="container-internal-flex">
      <div style="margin: 0 0 0 150px; margin-bottom: 50px;">


        <div style="color: white; font-size: 50px; font-weight: 800; margin-bottom: 10px;">SCAN<br/> PRINT<br/>LOCATE</div>
        <div style="color: white; font-size: 16px;">

          <button style="background-color: #ffa400; border: 1px solid #ffa400;">Sign Up</button>
          <button>Learn More</button>
        </div>
        <div style="color: white;">
          Available on the App Store
        </div>

      </div>
    </div>
    <div style="height: 110px; overflow: hidden; position: absolute; bottom: -55px; left: 0; right: 0; background: white; transform: skewY(-6deg);">
      <!--<svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">-->
        <!--<path d="M0.00,49.98 C203.34,18.25 228.86,153.45 501.45,37.00 L500.00,150.00 L0.00,150.00 Z"-->
              <!--style="stroke: none; fill: white;"></path>-->
      <!--</svg>-->
    </div>
  </div>
</div>


<!--<div style="display: flex; align-items: center;" class="container-small">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--&lt;!&ndash;<div class="col-4" style="display: flex; justify-content: center; align-items: center;">&ndash;&gt;-->
        <!--&lt;!&ndash;<img style="max-width: 100%; max-height: 50px;" src="../assets/images/raster/berkshite-hathaway-logo.png">&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--<div class="col-3" style="display: flex; justify-content: center; align-items: center;">-->
        <!--<img style="max-width: 100%; max-height: 33px;" src="../assets/images/raster/toyota-logo.png">-->
      <!--</div>-->
      <!--<div class="col-3" style="display: flex; justify-content: center; align-items: center;">-->
        <!--<img style="max-width: 100%; max-height: 40px;" src="../assets/images/raster/autonation-logo.png">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="container-medium" style="position: relative;">-->
  <!--<div style="position: absolute; width: 100%;" class="card-container">-->
        <!--<div class="card"></div>-->
        <!--<div class="card"></div>-->
        <!--<div class="card"></div>-->
  <!--</div>-->
  <!--<div style="position:absolute; width: 100%; bottom: 0; background: green; height: 200px;"></div>-->
<!--</div>-->

<div class="container-medium">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div style="font-size: 40px; font-weight: 800;">SCAN</div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        It all starts with a scan — one extremely powerful blip in time. In that moment, you didn’t just scan a VIN. You imported all of the vital vehicle information into your inventory. Manual entry mistakes are a thing of the past.
      </div>
      <div class="col-7">
        <img style="height: 100%;" src="../assets/images/vector/Scan.svg">
      </div>
    </div>
  </div>
</div>

<div class="container-medium">
  <div class="container">
    <div class="row">
      <div class="col-9"></div>
      <div class="col-3">
        <div style="font-size: 40px; font-weight: 800; text-align: right;">PRINT</div>
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <img style="height: 100%;" src="../assets/images/vector/Print.svg">
      </div>
      <div class="col-5">
        It all starts with a scan — one extremely powerful blip in time. In that moment, you didn’t just scan a VIN. You imported all of the vital vehicle information into your inventory. Manual entry mistakes are a thing of the past.
      </div>
    </div>
  </div>
</div>

<div class="container-medium">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div style="font-size: 40px; font-weight: 800;">LOCATE</div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        It all starts with a scan — one extremely powerful blip in time. In that moment, you didn’t just scan a VIN. You imported all of the vital vehicle information into your inventory. Manual entry mistakes are a thing of the past.
      </div>
    </div>
  </div>
</div>

<div class="container-medium">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div style="font-size: 40px; font-weight: 800; text-align: center;">PRICING</div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="row">
              <div class="col-4">
                <div class="pricing-container">
                  First
                </div>
              </div>
              <div class="col-4">
                <div class="pricing-container">
                  First
                </div>
              </div>
              <div class="col-4">
                <div class="pricing-container">
                  First
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
