<div class="header">
  <div class="header-internal">
    <img class="header-internal-logo" src="../assets/images/vector/vinpoint-logo-side.svg">
    <div class="header-internal-right">
      <a>Scan</a>
      <a>Print</a>
      <a>Locate</a>
      <a>Pricing</a>
      <button>Login</button>
    </div>
  </div>
</div>


<div style="padding-top: 60px; background-image: url(../assets/images/raster/duotone-4.png); background-repeat: no-repeat; background-position: center; background-size: cover; height: 400px;">
  <div class="row middle-xs">
    <div class="col-sm-6 col-xs-12">
      <div style="color: white; font-size: 40px; font-weight: 800; padding: 20px 20px 10px 20px; text-align: center">Scan, Print, Locate</div>
      <div style="color: white; font-size: 16px; padding: 0 20px 20px 20px; text-align: center;">VINpoint does stuff! Lots of stuff! All the stuff!</div>
      <div style="display: flex; justify-content: center; align-items: center;">
        <button style="margin: 0 10px 0 0">Learn More</button>
        <button style="background-color: #ffa400; border: 1px solid #ffa400;">Sign Up</button>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12" style="display: flex; justify-content: center; align-items: center;">
      <img style="height: 385px; padding: 20px;" src="../assets/images/raster/black-mockup-cropped.png">
    </div>
  </div>
</div>


<div style="position: relative; background-color: white; padding: 40px;">
  <!--<div style="position: absolute; bottom: -40px; right: -20px; left: -20px; background-color: #3481c1; height: 100px; transform: skewY(-4deg); z-index: 1;"></div>-->
  <div class="row">
    <div class="col-sm-12">
      <div style="font-size: 40px; font-weight: 800; color: #1e1e1e; padding: 20px;">
        SCAN
      </div>
    </div>
  </div>
  <div class="row middle-xs">
    <div class="col-sm-6 col-xs-12 first-lg first-sm">
      <div style="padding: 20px 20px 20px 20px; color: #1e1e1e;">
        This is some text to test line wrapping as well as my ability to code this grid correctly. Please ignore any grammatical mistakes, as this is just a placeholder for now.
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 first-xs" style="display: flex; justify-content: center;">
      <img style="height: 200px;" src="../assets/images/vector/Scan.svg">
    </div>
  </div>
</div>

<div style="background-color: white; padding: 40px;">
  <div class="row">
    <div class="col-sm-12">
      <div style="font-size: 40px; font-weight: 800; color: #1e1e1e; padding: 20px; text-align: right;">
        PRINT
      </div>
    </div>
  </div>
  <div class="row middle-xs">
    <div class="col-sm-6 col-xs-12" style="display: flex; justify-content: center;">
      <img style="height: 200px;" src="../assets/images/vector/Print.svg">
    </div>
    <div class="col-sm-6 col-xs-12">
      <div style="padding: 20px 20px 20px 20px; color: #1e1e1e;">
        This is some text to test line wrapping as well as my ability to code this grid correctly. Please ignore any grammatical mistakes, as this is just a placeholder for now.
      </div>
    </div>
  </div>
</div>

<div style="background-color: white; padding: 40px;">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div style="font-size: 40px; font-weight: 800; color: #1e1e1e; padding: 20px;">
        LOCATE
      </div>
    </div>
  </div>
  <div class="row middle-xs">
    <div class="col-sm-6 col-xs-12 first-lg first-sm">
      <div style="padding: 20px 20px 20px 20px; color: #1e1e1e;">
        This is some text to test line wrapping as well as my ability to code this grid correctly. Please ignore any grammatical mistakes, as this is just a placeholder for now.
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 first-xs" style="display: flex; justify-content: center;">
      <img style="height: 200px;" src="../assets/images/vector/Scan.svg">
    </div>
  </div>
</div>
