<div class="header">
  <div class="header-internal">
    <img class="header-internal-logo" src="../assets/images/vector/vinpoint-logo-side.svg">
    <div class="header-internal-right">
      <a>Scan</a>
      <a>Print</a>
      <a>Locate</a>
      <a>Pricing</a>
      <button>Login</button>
    </div>
  </div>
</div>

<div class="container-large-top">
  <div class="container-large-top-background">
    <div class="foreground">
      <img height="100px" src="../assets/images/raster/black-mockup.png">
    </div>
    <div class="container-internal-flex">
      <span style="color: white; font-size: 50px; font-weight: 800; margin: 0 0 0 150px; margin-bottom: 50px;">SCAN<br/> PRINT<br/>LOCATE</span>
    </div>
    <div style="height: 70px; overflow: hidden; position: absolute; bottom: 0; left: 0; right: 0; z-index: 2">
      <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C203.34,18.25 228.86,153.45 501.45,37.00 L500.00,150.00 L0.00,150.00 Z"
              style="stroke: none; fill: white;"></path>
      </svg>
    </div>
  </div>
</div>

<div class="container-large">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card"></div>
      </div>
      <div class="col-4">
        <div class="card"></div>
      </div>
      <div class="col-4">
        <div class="card"></div>
      </div>
    </div>
  </div>
</div>

<div class="container-small">
  Container Small
</div>
