$header-height: 60px;
$header-padding: 20px;

$vp-orange: #ffa400;
$vp-blue: #2c5a77;
$vp-blue-mod: #267b9a;
$vp-green: #63a0a9;
$vp-light-blue: #cde3f0;




.header {
  height: $header-height;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  &-internal {
    height: 100%;
    display: flex;
    align-items: center;
    &-logo {
      height: 28px;
      padding: 0 0 0 20px;
    }
    &-right {
      margin-left: auto;
      padding-right: $header-padding;
      a {
        color: white;
        padding-right: 20px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}

button {
  cursor: pointer;
  cursor: hand;
  padding: 10px 18px 10px 18px;
  border: 1px solid white;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  font-size: 14px;
}
